p, div, td {
    word-break: keep-all;
}
body{
    position: absolute;
    background-color: black;
}
.Background{
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
    z-index: 0;
    background-color: black;
}
.Lobby{
    position: absolute;
    top: -1%;
    left: -1%;
    width: 101%;
    height: 101%;
    background-color: black;
}
.Entity{
    position: absolute;
    width: 2vw;
    height: 2vw;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: 0.25vw solid gray;
    text-align: center;
    align-content: center;
}
.Entity:hover{
    transform: scale(1.1) translate(-50%, -50%);
}
.Item{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    background-color: black;
    border-radius: 10%;
    transform: translate(-50%, -50%);
    cursor: help;
    border: 0.25vw solid white;
}
.Item:hover{
    transform: scale(1.2) translate(-50%, -50%);
}
.Item2{
    width: 1.75vw;
    height: 1.25vh;
    border-radius: 10%;
    cursor: help;
    border: 0.25vh solid white;
}
.centerW{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.centerH{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.button{
    position:absolute; 
    top: 85vh; 
    left: 0vw; 
    width: 15vh; 
    height: 15vh; 
    background-color: black; 
    color: white; 
    border: 0.25vw solid white; 
    font-size: 3vh;
}
.button:hover{
    transform: scale(1.1);
}
.button:active{
    background-color: white;
    border: 0px;
    transform: scale(1.2);
    color: black;
}
.publicText{
    color: white;
    cursor: pointer;
}
.publicText:hover{
    color: gray;
}
.publicButton{
    background-color: black;
    border: 0.25vw solid white;
    border-radius: 20%;
    color: white;
    cursor: pointer;
}
.publicButton:hover{
    background-color: gray;
    color: white;
}
.Window{
    font-size: 2vw; 
    border: 0.25vw solid white;
    background-color: black;
    color: white;
    transform: translate(-50%, -50%);
}
.publicSelect{
    font-size: 2vw;
    border: 0.25vw solid white;
    color: white;
    background-color: black;
    cursor: pointer;
}
.publicSelect:hover{
    background-color: gray;
}
.Selector{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    border: 0.25vw dashed white;
}
.hideUI{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    z-index: 20;
}
.hideUI:hover{
    z-index: 1;
    border: 0px;
}
.hideUI:hover > .hideText{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    text-shadow: 2px 2px rgba(97, 90, 90, 0);
    z-index: 1;
    border: 0px;
}
.hideText{
    position: absolute;
    text-shadow: 2px 2px rgb(97, 90, 90);
    color: white;
}
.data-window{
    position: absolute;
    background-color: black;
    border: 0.25vw solid white;
    height: 9vw;
    width: 10vw;
}
.data-text{
    color: white;
    font-size: 1vw;
    margin-top: 0px;
    margin-bottom: 0px;
}
.Layer-Background{
    z-index: 1;
    color: white;
}
.Layer-Object{
    z-index: 10;
}
.Layer-Object-UI{
    z-index: 15;
}
.Layer-UI{
    z-index: 20;
    color: white;
}
.Layer-UI-Window{
    z-index: 30;
    color: white;
}
.Layer-Infinity{
    z-index: 40;
}
.gold{
    background-color: gold;
}
.diamond{
    background-color: cyan;
}
.wood{
    background-color: brown;
}
.rock{
    background-color: gray;
}
.iron{
    background-color: silver;
}